@mixin gl-tmp-dropdown-section-header-style {
  @include gl-font-base;
  @include gl-text-gray-900;
  @include gl-line-height-normal;
  @include gl-text-left;
  @include gl-font-weight-bold;
  @include gl-py-3;
  @include gl-px-4;
  @include gl-white-space-normal;
}

/* Styling when the component is used on its own */
.gl-dropdown-section-header .dropdown-header {
  @include gl-tmp-dropdown-section-header-style;
}

/* Styling to override the vue-bootstrap CSS included in GitLab CSS */
.gl-dropdown {
  .gl-dropdown-section-header .dropdown-header {
    @include gl-tmp-dropdown-section-header-style;
  }
}
