.gl-filtered-search-token {
  &.gl-filtered-search-token-active {
    @include gl-cursor-default;
  }

  @include gl-h-6;
  @include gl-display-inline-flex;
  @include gl-white-space-nowrap;
  @include gl-cursor-pointer;

  &.gl-filtered-search-token-hover {
    &:hover {
      .gl-filtered-search-token-type {
        @include gl-bg-gray-100;
      }

      .gl-filtered-search-token-data,
      .gl-filtered-search-token-operator {
        @include gl-bg-gray-200;
      }
    }
  }
}

.gl-token {
  @include gl-rounded-0;

  &.gl-filtered-search-token-type {
    @include gl-h-6;
    @include gl-bg-gray-50;
    @include gl-rounded-top-right-none;
    @include gl-rounded-bottom-right-none;
    @include gl-py-2;
    @include gl-px-3;
    @include gl-mr-1;
  }

  &.gl-filtered-search-token-operator {
    @include gl-h-6;
    @include gl-bg-gray-50;
    @include gl-mr-1;
    @include gl-rounded-0;
  }

  &.gl-filtered-search-token-data {
    @include gl-h-6;
    @include gl-bg-gray-100;
    @include gl-rounded-top-right-small;
    @include gl-rounded-bottom-right-small;

    .gl-filtered-search-token-data-content {
      @include gl-display-inline-flex;
    }
  }
}

.gl-filtered-search-token-operator-description {
  @include gl-text-gray-600;
  @include gl-ml-auto;
}
